.mainPhoto {
  width: 45.625rem;
  height: 18.75rem;
  background-image: url("/assets/images/image-web-3-desktop.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  width: 100%;
}

.btn {
  background-color: var(--light-vermillion);
  color: var(--dark-space-blue);
  padding: 0.75rem 2rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 1.75rem;
  width: auto;
  font-weight: 600;
  letter-spacing: 4.38px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--dark-space-blue);
  color: var(--almost-white);
}

@media screen and (max-width: 480px) {
  .mainPhoto {
    background-image: url("/assets/images/image-web-3-mobile.jpg");
    width: calc(100% - 2rem);
  }
  .content {
    flex-direction: column;
    width: calc(100% - 2rem);
  }
}
