.article {
  border-bottom: 1px solid #979797;
  margin-bottom: 2rem;
}
.title {
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.title:hover {
  color: var(--yellow);
}

.intro {
  color: var(--silver);
  margin-bottom: 1.75rem;
}
